<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>96</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>95</string>
					<key>Timestamp</key>
					<string>752524653.057373</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                // see note 17 in app delegate
</string>
				<key>leading</key>
				<string>                self.selectedTitleIssues += results.filter{$0.issueName != ""}
                dismissLoadingView()
</string>
				<key>trailing</key>
				<string>                configureTableView()
                
            } catch is COError {
</string>
			</dict>
			<key>title</key>
			<string>struggle point</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>123</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>122</string>
					<key>Timestamp</key>
					<string>742610331.112267</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Managers/PersistenceManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        }
</string>
				<key>leading</key>
				<string>        } catch {
            return .failedToRecordCompletion
</string>
				<key>trailing</key>
				<string>    }
}
</string>
			</dict>
			<key>title</key>
			<string>if let avoids a throw / throwing an error when using JSONEncoder / JSONDecoder</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>17</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>16</string>
					<key>Timestamp</key>
					<string>742612442.136634</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var completedTitleIssues = [Issue]()
</string>
				<key>leading</key>
				<string>    
    // see note 19 in app delegate
</string>
				<key>trailing</key>
				<string>    var selectedTitleIssues  = [Issue]()
    var titleID: Int!
    
</string>
			</dict>
			<key>title</key>
			<string>struggle point - persisting checkmarks</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
