<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>39</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>742594994.437876</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>        // see note 17 in app delegate
        progressSaved ? loadProgress() : getTitleIssues()
</string>
				<key>trailing</key>
				<string>    }
    
    
</string>
			</dict>
			<key>title</key>
			<string>struggle point</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>120</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>119</string>
					<key>Timestamp</key>
					<string>742597620.306362</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Managers/PersistenceManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        if let encdodedIssues = try? encoder.encode(issues) {
</string>
				<key>leading</key>
				<string>    static func saveProgress(forIssues issues: [Issue]) {
        let encoder = JSONEncoder()
</string>
				<key>trailing</key>
				<string>            defaults.set(encdodedIssues, forKey: Keys.savedProgress)
            print("progress saved")
        }
</string>
			</dict>
			<key>title</key>
			<string>if let avoids a throw / throwing an error when using JSONEncoder / JSONDecoder</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
