<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>110</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>109</string>
					<key>Timestamp</key>
					<string>754049793.0012929</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                configureTableView()
</string>
				<key>leading</key>
				<string>                self.currentTitleIssues += results.filter{$0.name != ""}
                dismissLoadingView()
</string>
				<key>trailing</key>
				<string>            } catch is COError {
                showEmptyStateView(with: COError.failedToGetData.rawValue, in: self.view)
            }
</string>
			</dict>
			<key>title</key>
			<string>struggle point</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>136</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>135</string>
					<key>Timestamp</key>
					<string>754049920.5171191</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Managers/PersistenceManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>            }
        }
</string>
				<key>trailing</key>
				<string>}
</string>
			</dict>
			<key>title</key>
			<string>if let avoids a throw / throwing an error when using JSONEncoder / JSONDecoder</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>15</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>14</string>
					<key>Timestamp</key>
					<string>754049793.001156</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var completedTitleIssues    = [Issue]()
</string>
				<key>leading</key>
				<string>    var currentTitle: Title!
    var currentTitleIssues      = [Issue]()
</string>
				<key>trailing</key>
				<string>    var titleSavedToBin: Bool!
    var titleID: Int!
    var tableView: UITableView!
</string>
			</dict>
			<key>title</key>
			<string>struggle point - persisting checkmarks</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>82</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>81</string>
					<key>Timestamp</key>
					<string>754049793.001218</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedTitleIssuesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func loadProgress()
</string>
				<key>leading</key>
				<string>
    
</string>
				<key>trailing</key>
				<string>    {
        PersistenceManager.loadCompletedIssues { [weak self] result in
            guard let self = self else { return }
</string>
			</dict>
			<key>title</key>
			<string>loadProgress is stored then matched against what's brought in from getTitleIssues for cell check accessory</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>59</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>58</string>
					<key>Timestamp</key>
					<string>754049282.479714</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Managers/APICaller.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func getPublisherTitles(withPublisherDetailsURL publisherDetailsURL: String) async throws -&gt; [Title]
</string>
				<key>leading</key>
				<string>
    
</string>
				<key>trailing</key>
				<string>    {
        let endpoint            = "\(publisherDetailsURL)?api_key=\(NetworkCallKeys.API_KEY)&amp;format=json&amp;field_list=volumes"
        guard let url           = URL(string: endpoint) else { throw COError.invalidURL }
</string>
			</dict>
			<key>title</key>
			<string>publisherTitles = volumes in API</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>11</string>
					<key>StartingColumnNumber</key>
					<string>33</string>
					<key>StartingLineNumber</key>
					<string>10</string>
					<key>Timestamp</key>
					<string>754040905.457998</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Models/Title.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>import UIKit

struct APITitlesResponse: Codable</string>
				<key>trailing</key>
				<string>{
    let results: [String: [Title]]
}
</string>
			</dict>
			<key>title</key>
			<string>title = volume in the API</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>754049364.535579</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/CustomViews/ChildViewControllers/COAlertChildVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        view.addSubview(containerView)
</string>
				<key>leading</key>
				<string>        super.viewDidLoad()
        view.backgroundColor = UIColor.black.withAlphaComponent(0.75)
</string>
				<key>trailing</key>
				<string>        containerView.addSubviews(titleLabel, messageLabel, actionButton)
        configureContainerView()
        configureTitleLabel()
</string>
			</dict>
			<key>title</key>
			<string>see note 18 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>62</string>
					<key>Timestamp</key>
					<string>754049364.535522</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/CustomViews/ChildViewControllers/COAlertChildVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        titleLabel.text = alertTitle ?? "Something went wrong"
</string>
				<key>leading</key>
				<string>    func configureTitleLabel()
    {
</string>
				<key>trailing</key>
				<string>        
        NSLayoutConstraint.activate([
            titleLabel.topAnchor.constraint(equalTo: containerView.topAnchor, constant: padding),
</string>
			</dict>
			<key>title</key>
			<string>for if alertTitle's custom init isn't used &amp; it comes up nil</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>33</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>754049411.819847</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/CustomViews/Labels/COBodyLabel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        adjustsFontForContentSizeCategory         = true
</string>
				<key>leading</key>
				<string>        textColor                                 = .secondaryLabel
        font                                      = UIFont.preferredFont(forTextStyle: .body)
</string>
				<key>trailing</key>
				<string>        adjustsFontSizeToFitWidth                 = true
        minimumScaleFactor                        = 0.75
        lineBreakMode                             = .byWordWrapping
</string>
			</dict>
			<key>title</key>
			<string>see note 21 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>21</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>20</string>
					<key>Timestamp</key>
					<string>755721770.0985759</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var collectionView: UICollectionView!
</string>
				<key>leading</key>
				<string>//    var isLoadingMorePublishers = false
//    static var isFirstVisit     = true
//</string>
				<key>trailing</key>
				<string>//    var dataSource: UICollectionViewDiffableDataSource&lt;Section,Publisher&gt;!
//    
//    override func viewDidLoad()
</string>
			</dict>
			<key>title</key>
			<string>see note 5 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>755721770.09895</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    override func viewDidAppear(_ animated: Bool)
</string>
				<key>leading</key>
				<string>//    
//    
//</string>
				<key>trailing</key>
				<string>//    {
//        super.viewDidAppear(animated)
//        AllPublishersVC.isFirstVisit = false
</string>
			</dict>
			<key>title</key>
			<string>see note 15 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>94</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>93</string>
					<key>Timestamp</key>
					<string>755721770.098827</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func getPublishers(page: Int)
</string>
				<key>leading</key>
				<string>//    
//    
//</string>
				<key>trailing</key>
				<string>//    {
//        showLoadingView()
//        isLoadingMorePublishers = true
</string>
			</dict>
			<key>title</key>
			<string>see note 12b in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>156</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>155</string>
					<key>Timestamp</key>
					<string>755721770.099013</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func scrollViewDidEndDragging(_ scrollView: UIScrollView, willDecelerate decelerate: Bool)
</string>
				<key>leading</key>
				<string>//extension AllPublishersVC: UICollectionViewDelegate
//{
//</string>
				<key>trailing</key>
				<string>//    {
//        let offsetY         = scrollView.contentOffset.y
//        let contentHeight   = scrollView.contentSize.height
</string>
			</dict>
			<key>title</key>
			<string>see note 13 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>183</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>182</string>
					<key>Timestamp</key>
					<string>755721770.098467</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>extension AllPublishersVC: UISearchResultsUpdating, UISearchBarDelegate
</string>
				<key>leading</key>
				<string>//// MARK: SEARCHBAR DELEGATE METHODS
//
//</string>
				<key>trailing</key>
				<string>//{
//    func updateSearchResults(for searchController: UISearchController)
//    {
</string>
			</dict>
			<key>title</key>
			<string>see note 4 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>22</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>21</string>
					<key>Timestamp</key>
					<string>754049236.570974</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var collectionView: UICollectionView!
</string>
				<key>leading</key>
				<string>    var isLoadingMorePublishers = false
    static var isFirstVisit     = true
</string>
				<key>trailing</key>
				<string>    var dataSource: UICollectionViewDiffableDataSource&lt;Section, Publisher&gt;!
    
    init(withName name: String)
</string>
			</dict>
			<key>title</key>
			<string>see note 5 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>754049652.0518759</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        presentListOrderAlert()
</string>
				<key>leading</key>
				<string>        getFilteredPublishers()
        configureDataSource()
</string>
				<key>trailing</key>
				<string>    }
    
    
</string>
			</dict>
			<key>title</key>
			<string>see note 10 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>54</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>53</string>
					<key>Timestamp</key>
					<string>754049652.051895</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    override func viewDidAppear(_ animated: Bool)
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>    {
        super.viewDidAppear(animated)
        FilteredPublishersVC.isFirstVisit = false
</string>
			</dict>
			<key>title</key>
			<string>see note 15 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>123</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>122</string>
					<key>Timestamp</key>
					<string>754049661.960911</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func getFilteredPublishers()
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>    {
        showLoadingView()
        isLoadingMorePublishers = true
</string>
			</dict>
			<key>title</key>
			<string>see note 12b in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>146</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>145</string>
					<key>Timestamp</key>
					<string>754049661.960827</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // self.publishers = []
</string>
				<key>leading</key>
				<string>        self.publishers.append(contentsOf: publishers)
        
</string>
				<key>trailing</key>
				<string>        if self.publishers.isEmpty {
            let message = "There are no publishers by the name \(publisherContainsName!) to display 😢."
            DispatchQueue.main.async {
</string>
			</dict>
			<key>title</key>
			<string>test empty state</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>172</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>171</string>
					<key>Timestamp</key>
					<string>754049679.708487</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/FilteredPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func scrollViewDidEndDragging(_ scrollView: UIScrollView, willDecelerate decelerate: Bool)
</string>
				<key>leading</key>
				<string>extension FilteredPublishersVC: UICollectionViewDelegate
{
</string>
				<key>trailing</key>
				<string>    {
        let offsetY         = scrollView.contentOffset.y
        let contentHeight   = scrollView.contentSize.height
</string>
			</dict>
			<key>title</key>
			<string>see note 13 in app delegate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>109</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>108</string>
					<key>Timestamp</key>
					<string>754049707.866577</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SelectedPublisherTitlesVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // self.titles = []
</string>
				<key>leading</key>
				<string>        self.titles.append(contentsOf: titles)
        
</string>
				<key>trailing</key>
				<string>        if self.titles.isEmpty {
            let message = EmptyStateKeys.noTitlesPublished
            DispatchQueue.main.async {
</string>
			</dict>
			<key>title</key>
			<string>test empty state</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>32</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>31</string>
					<key>Timestamp</key>
					<string>755721770.098308</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/AllPublishersVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        presentListOrderAlert()
</string>
				<key>leading</key>
				<string>//        getPublishers(page: page)
//        configureDataSource()
//</string>
				<key>trailing</key>
				<string>//    }
//    
//    
</string>
			</dict>
			<key>title</key>
			<string>see note 10 in drive</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>10</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>754041318.031633</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/Models/Issue.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>struct APIIssuesResponse: Codable { let results: [String: [Issue]] }
</string>
				<key>leading</key>
				<string>import UIKit

</string>
				<key>trailing</key>
				<string>
struct Issue: Codable, Comparable
{
</string>
			</dict>
			<key>title</key>
			<string>umbrellaed under Volumes (or titles) from API</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>145</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>144</string>
					<key>Timestamp</key>
					<string>758073755.2292171</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Comix Organizer Mk 2/View Controllers/SearchVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>                            animations: { self.logoImageView.transform = self.logoImageView.transform.translatedBy(x: 0, y: -900) },
                            completion: { _ in self.heroFlewUp = true; self.pushFilteredSearchVC() })
</string>
				<key>trailing</key>
				<string>    
    
    func pushFilteredSearchVC()
</string>
			</dict>
			<key>title</key>
			<string>old code: self.isQueryEntered ? self.pushGenericSearchVC() : self.pushAllPublishersVC()</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
